@import '_mixins';

.main-footer {
	background-color: #f3f6f8;
	padding: 25px 0 80px 0;

	@media (max-width: 800px) {
		padding-bottom: 180px;
	}
}

.social {
	text-align: center;
	padding: 20px;
	background-color: #f3f6f8;
}

.social a {
	font-size: 18px;
	color: #767676;
	padding: 10px;
	transition: 0.5s;
}

.social a:hover {
	color: #bd1e1f;
}

.menu-footer-menu-container,
.menu-footer-menu-es-container,
.menu-footer-menu-zh-hans-container,
.menu-footer-menu-fr-container {
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		list-style: none;
		padding: 0;

		li {
			margin: 1em;

			a {
				@include link(#767676);
			}
		}
	}
}

#copyright {
	text-align: center;
	background-color: #f3f6f8;
	font-family: HelveticaNeue;
	font-size: 12px;
	color: #767676;
}

.footer__cta_shadow {
	display: none;
}

.footer__cta {
	position: fixed;
	bottom: 0;
	width: 100vw;
	padding: 20px 30px;
	background: $body-bg;
	box-shadow: 0px -0.5px 0.5px 3px rgba(0, 0, 0, 0.05);
	z-index: 1000;
	display: none;

	@media (max-width: 800px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer__cta_button {
		@include ctaButton();

		width: 100%;
		display: flex;
		justify-content: center;
		/*margin-bottom: 20px;*/
		margin-bottom: 0;
	}

	.footer__cta_signin {
		@include ctaSignin();
		margin-bottom: 0;
		display: block;
	}
}
