div.wpforms-container-full .wpforms-form input[type='submit'],
div.wpforms-container-full .wpforms-form button[type='submit'],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
	background-color: $primary;
	border-color: $primary;
	color: white;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	border-radius: 8px;
	width: 100%;

	&:hover,
	&:focus {
		background-color: #9c1919;
		border-color: #911717;
	}
}
