div.wpforms-container-full .wpforms-form input[type='submit'],
div.wpforms-container-full .wpforms-form button[type='submit'],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
	background-color: $primary;
	border-color: $primary;
	color: white;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	border-radius: 8px;
	width: 100%;

	&:hover,
	&:focus {
		background-color: #9c1919;
		border-color: #911717;
	}
}

div.wpforms-container-full .wpforms-form input[type='submit']:disabled,
div.wpforms-container-full .wpforms-form button[type='submit']:disabled,
div.wpforms-container-full .wpforms-form .wpforms-page-button:disabled {
	background-color: #cecece;

	&:hover {
		border-color: #979797;
	}
}

div.wpforms-container-full .wpforms-form input[type='date'],
div.wpforms-container-full .wpforms-form input[type='datetime'],
div.wpforms-container-full .wpforms-form input[type='datetime-local'],
div.wpforms-container-full .wpforms-form input[type='email'],
div.wpforms-container-full .wpforms-form input[type='month'],
div.wpforms-container-full .wpforms-form input[type='number'],
div.wpforms-container-full .wpforms-form input[type='password'],
div.wpforms-container-full .wpforms-form input[type='range'],
div.wpforms-container-full .wpforms-form input[type='search'],
div.wpforms-container-full .wpforms-form input[type='tel'],
div.wpforms-container-full .wpforms-form input[type='text'],
div.wpforms-container-full .wpforms-form input[type='time'],
div.wpforms-container-full .wpforms-form input[type='url'],
div.wpforms-container-full .wpforms-form input[type='week'],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
	font-family: Roboto;
	max-width: 100%;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #979797;
	background-color: rgba(255, 255, 255, 0.5);
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #3a3a3a;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label-inline {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #3a3a3a;
}

.wpforms-field-checkbox li {
	display: flex;
	align-items: center;
}

.wpforms-submit-spinner {
	display: none !important;
}
