@import "_mixins";

.home__benefits {
	background-color: $lightblue;
	padding-top: 38px;
	text-align: center;
	opacity: 0;

	h3 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 40px;
	}
}

.home__benefits_grid {
	@include container();
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-column-gap: 60px;
	grid-row-gap: 35px;
	margin-bottom: 90px;
}

.home__benefit {
	@include link();

	img {
		height: 50px;
	}
}

.home__benefits_shadow {
	display: none;
}
