@mixin container($size: 780px) {
	max-width: $size;
	width: 100%;
	margin: 0 auto;
}

@mixin lastNoMargin {
	&:last-of-type {
		margin: 0;
	}
}

@mixin link($color: black) {
	color: $color;
	&:hover {
		color: $color;
	}
	@content;
}
