@mixin container($size: 780px) {
	max-width: $size;
	width: 100%;
	margin: 0 auto;

	@media (max-width: $size + 60px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@mixin lastNoMargin {
	&:last-of-type {
		margin: 0;
	}
}

@mixin link($color: black) {
	color: $color;
	&:hover {
		color: $color;
	}
	@content;
}

@mixin title {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

@mixin body {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	/*line-height: 17px;*/

	@media (max-width: 800px) {
		font-size: 14px;
		/*line-height: 18px;*/
	}
}

@mixin ctaButton() {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	width: 100%;
	height: 50px;
	border-radius: 8px;
	margin-bottom: 18px;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		background-color: transparent !important;
		padding: 0;

		&:hover {
			text-decoration: none;
		}
	}
}

@mixin ctaSignin() {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.5);
	display: none;
	text-align: left;

	a {
		color: $darkblue;
		font-weight: 500;

		&:hover {
			color: $darkblue;
		}
	}
}
