.page__header_image {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 30px;

	@media (max-width: 800px) {
		height: 260px;
	}
}

.page__title {
	@include container();

	margin-bottom: 30px;
}

.page__content {
	@include container();

	margin-bottom: 45px;
}
