.footer__posts {
	padding-top: 38px;
	background-color: $darkblue;
	opacity: 0;
	overflow: auto;
}

.posts__title {
	@include link(white);
	display: inline-block;
	margin-bottom: 18px;

	h3 {
	}
}

.posts__covid {
	@include container();
	opacity: 0;

	.posts__covid_grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		grid-column-gap: 8px;
		grid-row-gap: 8px;
		margin-bottom: 50px;
	}

	.posts__covid_item {
		@include link(white);
		background-color: black;
		border-radius: 10px;
		min-height: 50px;
		padding: 8px 16px;
		font-weight: bold;
	}
}

.posts__news {
	@include container();
	opacity: 0;

	.posts__news_grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		grid-column-gap: 8px;
		grid-row-gap: 8px;
		margin-bottom: 50px;
	}

	.posts__news_item {
		border-radius: 10px;
		overflow: hidden;
		background-color: white;

		img {
			width: 100%;
			height: 70px;
			object-position: center;
			object-fit: cover;
		}

		div {
			@include link();
			padding: 8px 16px;
			font-weight: bold;
		}
	}
}
