@import '_mixins';
@import '_colors';

@import '_accordion';

@import '_header';
@import '_homeHero';
@import '_home';
@import '_benefits';
@import '_posts';
@import '_footer';
@import '_page';
@import '_news';

@import './bootstrap/_bootstrap';

@import '_typography';

html,
body {
	margin: 0;
	background-color: $body-bg;

	@media (max-width: 800px) {
		/*height: 100%;*/
		/*overflow-y: scroll;*/
	}
}

body {
	box-sizing: border-box;
	@include body();
}

button.btn {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	height: 40px;
	border-radius: 8px;
	display: flex;
	align-items: center;

	&:focus {
		outline-color: $primary;
	}

	@media (max-width: 800px) {
		font-size: 14px;
	}
}

.container-full {
	@include container(full);
}

.container-narrow {
	@include container(narrow);
}

.wp-block-embed__wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.covid__link_button {
	width: 300px;
	box-sizing: border-box;

	a {
		width: 100%;
		@include link(white);
	}

	@media (max-width: 800px) {
		width: 100%;
	}
}

div.wpforms-container-full .wpforms-form input[type='submit'],
div.wpforms-container-full .wpforms-form button[type='submit'],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
	background-color: $primary;
	border-color: $primary;
	color: white;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	border-radius: 8px;
	width: 100%;

	&:hover,
	&:focus {
		background-color: #9c1919;
		border-color: #911717;
	}
}
