@import '_mixins';
@import '_variables';

@import '_header';
@import '_homeHero';
@import '_home';
@import '_footer';

html,
body {
	margin: 0;
	background-color: $body-bg;

	@media (max-width: 800px) {
		height: 100%;
		overflow-y: scroll;
	}
}

@import './bootstrap/_bootstrap';
