.has-red-color {
	color: #bd1e1e;
}

.has-darkblue-color {
	color: #3c5ea8;
}

.has-lightblue-color {
	color: #deecf9;
}

.has-black-color {
	color: #00000;
}

.has-gray-color {
	color: #f3f6f8;
}

.has-white-color {
	color: #ffffff;
}
